/* Conteneur principal */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  width: 100%;
  padding: 20px;
}

/* Style global du tableau */
.restaurant-table {
  width: 100%; /* Le tableau prend toute la largeur disponible */
  border-collapse: collapse;
  background: #fff; /* Fond blanc pour le tableau */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.restaurant-table th, .restaurant-table td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
  color: #1a4146; /* Texte bleu foncé pour le tableau */
}

.restaurant-table th {
  background-color: #297272; /* Fond bleu-vert pour l'en-tête */
  color: #fff; /* Texte blanc pour l'en-tête */
  font-weight: 600;
}

.restaurant-table tr:nth-child(even) {
  background-color: #f7f7f7; /* Fond gris clair pour les lignes paires */
}

.restaurant-table tr:hover {
  background-color: #e8e0c8; /* Fond crème clair au survol */
}

.delete-btn {
  background: #d3a446; /* Bouton supprimer couleur dorée */
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.delete-btn:hover {
  background: #b66d2f; /* Changement de couleur au survol du bouton */
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

h2 {
  color: #1a4146;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Chargement des utilisateurs */
.is-loading {
  font-size: 18px;
  color: #297272;
  text-align: center;
  font-weight: 500;
}

/* Aucun utilisateur trouvé */
.no-users {
  font-size: 18px;
  color: #999;
  text-align: center;
}

th {
  width: 20%;
}

/* Overlay de la modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assurer que la popup soit au-dessus */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Conteneur de la modal */
.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header de la modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #1a4146;
}

.modal-header h5 {
  font-size: 20px;
  color: #297272;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #1a4146;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #b66d2f; /* Changer la couleur au survol */
}

/* Corps de la modal */
.modal-body {
  margin-top: 20px;
  font-size: 16px;
  color: #1a4146;
}

.stars {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.star {
  font-size: 30px;
  color: #297272;
  cursor: pointer;
  transition: color 0.3s ease;
}

.star.selected {
  color: #d3a446; /* Couleur pour les étoiles sélectionnées */
}

.star:hover {
  color: #b66d2f; /* Changer la couleur au survol */
}

/* Footer de la modal */
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Boutons de la modal */
button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.cancel-btn {
  background-color: #f7f7f7;
  color: #1a4146;
  transition: background 0.3s ease;
}

.cancel-btn:hover {
  background-color: #e8e0c8;
}

.validate-btn {
  background-color: #297272;
  color: #fff;
  transition: background 0.3s ease;
}

.validate-btn:hover {
  background-color: #1a4146;
}
