<header class="app-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Menu pour Restaurateur -->
    <div *ngIf="userRole === UserRole.owner" class="nav-items">
      <button class="btn btn-primary" (click)="viewRestaurants()">Voir mes restaurants</button>
      <button class="btn btn-success" (click)="addRestaurant()">Ajouter un restaurant</button>
    </div>

    <!-- Menu pour Utilisateur classique -->
    <div *ngIf="userRole === UserRole.customer" class="nav-items">
      <button class="btn btn-info" (click)="viewAllRestaurants()">Voir tous les restaurants</button>
      <button class="btn btn-secondary" (click)="ListeRestoNotePage()">Voir les restaurants déjà noté</button>
    </div>

    <!-- Menu pour Admin -->
    <div *ngIf="userRole === UserRole.admin" class="nav-items">
      <button class="btn btn-warning" (click)="viewUsers()">Voir les utilisateurs</button>
      <button class="btn btn-danger" (click)="viewRestaurateurs()">Voir les restaurants</button>
    </div>

    <!-- Bouton de déconnexion -->
    <div class="nav-items">
      <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
    </div>

  </nav>
</header>
