<p>restaurant-form works!</p>
<!--   
    <div *ngIf="restaurants.length > 0" class="restaurant-list">
        <h3>Ajouter un restaurant</h3>
      <form (ngSubmit)="addRestaurant()">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" [(ngModel)]="newRestaurant.nom" name="nom" required placeholder="Nom du restaurant">
  
        <label for="adresse">Adresse :</label>
        <input type="text" id="adresse" [(ngModel)]="newRestaurant.adresse" name="adresse" required placeholder="Ex: 123 Rue Principale">
  
        <label for="description">Description :</label>
        <textarea id="description" [(ngModel)]="newRestaurant.description" name="description" required placeholder="Décrivez votre restaurant"></textarea>
  
        <label for="categorie">Catégorie :</label>
        <select id="categorie" [(ngModel)]="newRestaurant.categorie" name="categorie">
          <option>Autre</option>
          <option>Fast Food</option>
          <option>Italien</option>
          <option>Japonais</option>
          <option>Indien</option>
        </select>
  
        <label for="coordonnees">Coordonnées :</label>
        <input type="text" id="coordonnees" [(ngModel)]="newRestaurant.coordonnees" name="coordonnees" placeholder="Ex: 48.8566, 2.3522">
  
        <button type="submit" class="submit-btn">Ajouter</button>
      </form>
    </div>-->