<div class="restaurant-list">
  <h3>{{ isEditMode ? 'Modifier un restaurant' : 'Ajouter un restaurant' }}</h3>
  <form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="newRestaurant.name" name="name" placeholder="Nom du restaurant" />
    <input [(ngModel)]="newRestaurant.address" name="address" placeholder="Adresse" />
    <input [(ngModel)]="newRestaurant.phone" name="phone" placeholder="Téléphone" />
    <textarea [(ngModel)]="newRestaurant.description" name="description" placeholder="Description"></textarea>

    <div *ngFor="let category of categories">
      <label>
        <input type="checkbox" [(ngModel)]="category.selected" name="category-{{category.name}}" (change)="onCategoryChange(category)" />
        {{category.name}}
      </label>
    </div>
    <button type="submit">Envoyer</button>
  </form>
</div>
