/* Conteneur principal */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  width: 100%;
  padding: 20px;
}

/* Style global du tableau */
.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Espacement des cellules du tableau */
.dashboard-table th, .dashboard-table td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
  color: #1a4146;
}

/* En-têtes */
.dashboard-table th {
  background-color: #297272;
  color: #fff;
  font-weight: 600;
}

/* Lignes paires avec fond gris */
.dashboard-table tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Survol de ligne */
.dashboard-table tr:hover {
  background-color: #e8e0c8;
}

/* Bouton de suppression */
.delete-btn {
  background: #d3a446;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}

.delete-btn:hover {
  background: #b66d2f;
}

/* Espacement et centrage des boutons d'action */
.bottom-table-btn {
  display: flex;
  justify-content: space-between; /* Espacer les boutons */
  align-items: center;
}

.bottom-table-btn button {
  width: 45%; /* Largeur des boutons */
}

/* Ajout d'un style pour le bouton "Modifier" */
.update-btn {
  background: #297272;
}

.update-btn:hover {
  background: #1a4146;
}

/* Message d'erreur */
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

/* Chargement des utilisateurs */
.is-loading {
  font-size: 18px;
  color: #297272;
  text-align: center;
  font-weight: 500;
}

/* Aucun utilisateur trouvé */
.no-users {
  font-size: 18px;
  color: #999;
  text-align: center;
}

th {
  width: 20%;
}

.header-table-btn {
  width: 100px;
}

h2 {
  margin-bottom: 2em;
}

/* Alignement et marges des boutons sous le tableau */
.bottom-table-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
