<!-- Affichage du chargement -->
<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
</div>

<!-- Message si aucun restaurant n'est trouvé -->
<div *ngIf="!isLoading && restaurants && restaurants.length === 0" class="alert alert-info mt-4">
  Aucun restaurant trouvé.
</div>

<!-- Affichage de la liste des restaurants -->
<div *ngIf="!isLoading && restaurants && restaurants.length > 0" class="restaurant-list mt-4">
  <h3>Liste de mes restaurants</h3>

  <!-- Table responsive -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Description</th>
        <th>Téléphone</th>
        <th>Catégorie</th>
        <th>Coordonnées</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let restaurant of restaurants">
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.description }}</td>
        <td>{{ restaurant.phone }}</td>
        <td>{{ restaurant.category }}</td>
        <td>{{ restaurant.rating}}</td>
        <td>
          <!-- Boutons d'action (modifier, supprimer) -->
          <button class="btn btn-warning btn-sm">
            <i class="bi bi-pencil"></i> Modifier
          </button>
          <button class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i> Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
