<div class="table-container">
  <h2>Liste de mes restaurants</h2>

<!-- Affichage du chargement -->
<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
</div>

<!-- Message si aucun restaurant n'est trouvé -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


  <!-- Table responsive -->
    <table *ngIf="!isLoading && restaurants && restaurants.length > 0" class="dashboard-table">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Description</th>
        <th>Téléphone</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let restaurant of restaurants">
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.description }}</td>
        <td>{{ restaurant.phone }}</td>
        <td>
          <span *ngFor="let category of restaurant.categories; let last = last">
            {{ category }}{{ last ? '' : ', ' }}
          </span>
        </td>

        <td>
          <!-- Boutons d'action (modifier, supprimer) -->
          <button class="delete-btn" (click)="updateRestaurant(restaurant.id)">
            Modifier
          </button>
          <button class="delete-btn" (click)="deleteRestaurant(restaurant.id)">
            Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  <div *ngIf="!isLoading && restaurants.length === 0" class="no-restaurants">
    Aucun restaurant trouvé.
  </div>
  </div>
